.header__logo {
  width: 142px;
  height: 33px;
  background-image: url(../../../../images/logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width : 320px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-left: 27px;
  }  
}
