.profile__info {
  display: flex;
  flex-direction: column;
}

@media (max-width : 676px) {

  .profile__info {
    padding: 26px 0 0;
    max-width: calc(100% - 38px);
    align-items: center;
  }  

}

