.page__block {
  margin: 0 auto;
}

@media (max-width : 1279px) {

  .page__block {
    max-width: calc(100% - 120px);
  }  

} 

@media (max-width : 1000px) {

  .page__block {
    max-width: calc(100% - 38px);
  }  

} 

@media (max-width : 425px) {

  .page {
    max-width: 100%;
  } 

}

