.button-like {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  width: 22px;
  height: 19px;
  background-color: #fff;
  opacity: 1; 
}

.button-like:hover {
  opacity: .6;
  transition: opacity .5s ease-in-out;
}

.button-like:active, .button-like:visited {
  border: none;
  box-sizing: border-box;
  background-image: url(../../../images/heart_active.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  width: 22px;
  height: 19px;
  opacity: 1; 
}
/* увеличить/уменьшить сердце в карточках разного рр */
@media (max-width : 917px) {

  .button-like {
    width: 33px;
    height: 28px;
  } 
  
  .button-like:active, .button-like:visited {
    width: 33px;
    height: 28px;
  }

} 

@media (max-width : 710px) {

  .button-like {
    width: 22px;
    height: 19px;
  } 
  
  .button-like:active, .button-like:visited {
    width: 22px;
    height: 19px;
  }

} 

@media (max-width : 618px) {

  .button-like {
    width: 33px;
    height: 28px;
  } 
  
  .button-like:active, .button-like:visited {
    width: 33px;
    height: 28px;
  }

} 

@media (max-width : 425px) {

  .button-like {
    width: 22px;
    height: 19px;
  } 
  
  .button-like:active, .button-like:visited {
    width: 22px;
    height: 19px;
  }

} 